/************************** Global **************************/

* {
  margin: 0;
}

:root {
  --text-1: 0.5rem;
  --text-2: 1rem;
  --text-3: 1.5rem;
  --text-4: 2rem;
  --text-5: 2.5rem;
  --text-6: 3rem;
  --text: rgb(58, 58, 64);
  --glass: 137, 137, 148;
  --gs-1: rgb(234, 234, 236);
  --gs-2: rgb(191, 191, 197);
  --gs-3: rgb(137, 137, 148);
  --gs-4: rgb(97, 97, 107);
  --gs-5: rgb(58, 58, 64);
  --gs-6: rgb(29, 29, 32);
  --acc-1: rgb(232, 223, 246);
  --acc-2: rgb(197, 175, 233);
  --acc-3: rgb(139, 95, 211);
  --acc-4: rgb(71, 35, 128);
  --acc-5: rgb(53, 26, 96);
  --acc-6: rgb(27, 13, 48);
  --link: rgb(139, 95, 211);
  --link-hover: rgb(71, 35, 128);
  --header:rgb(27, 13, 48);
  --theme-switch: rgb(27, 13, 48);
  --theme-switch-hover: rgb(181, 163, 0);
  --background-image: url(/assets/Endless-Constellation.svg);
  --header-font: sans-serif;
}

[data-theme="dark"] {
  --text-1: 0.5rem;
  --text-2: 1rem;
  --text-3: 1.5rem;
  --text-4: 2rem;
  --text-5: 2.5rem;
  --text-6: 3rem;
  --link: rgb(197, 175, 233);
  --link-hover: rgb(71, 35, 128);
  --header: rgb(139, 95, 211);
  --acc-1: rgb(27, 13, 48);
  --acc-3: rgb(71, 35, 128);
  --acc-4: rgb(197, 175, 233);
  --glass: 29, 29, 32;
  --gs-1: rgb(29, 29, 32);
  --gs-3: rgb(97, 97, 107);
  --card: #283c53;
  --text: rgb(191, 191, 197);
  --theme-switch: rgb(181, 163, 0);
  --theme-switch-hover: rgb(27, 13, 48);
  --background-image: url(/assets/Endless-Constellation-Dark.svg);
}

html {
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  min-width:300px;
  max-width: 1400px;
  margin: 0 auto;
  background-image: var(--background-image);
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: var(--header-font);
  
}

h1 {
  font-size: var(--text-5);
  color: var(--header);
}

h2 {
  font-size: var(--text-4);
  color: var(--acc-4);
}

h3 {
  font-size: var(--text-3);
  color: var(--link);
}

p {
  margin: var(--text-3) auto;
  font-size:var(--text-3);
}

li {
  font-size: var(--text-3);
}

button {
  background-color: var(--header);
  color: var(--acc-1);
  width: 9rem;
  height:3rem;
  font-weight: heavy;
  border-radius: 5px;
  font-size: var(--text-3);
  border: none;
}

section {
  margin: var(--text-3) auto;
}

button:hover {
  background-color:var(--acc-4); !important
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: space-around;
  flex-wrap: wrap;
  margin-top: var(--text-6);
  margin-left: 5%;
  margin-right: 5%;
}

.flex-item {
  overflow: auto;
  background-color: rgba(var(--glass), 0.4);
  margin: var(--text-2) auto;
  padding: var(--text-2) var(--text-2);
  border-radius: 5px;
  max-width: 500px;
}

a {
  color: var(--link);
}

a:hover {
  color: var(--link-hover);
}

/*************************** Top Nav Bar **************************/
/*************************************************************/
.navbarContainer {
  display: flex;
  justify-content: space-between;
  height: 5.5rem;

  margin-bottom: var(--text-4);
}

.navbarNbhankes {
  display: flex;
  justify-content: end;
  color: var(--header);

  height: 100%;
  font-family: sans-serif;
  font-size: var(--text-5);
  margin: var(--text-2) var(--text-2);
}

.socialMediaContainer {
  display: flex;
  justify-content: center;
  margin: .5rem 1rem;
}

.fontAwesomeIcon {
  font-size: 3em;
  color:var(--header);
  margin: .2rem .25em;
}

.fontAwesomeIcon:hover {
  color:var(--acc-3); !important
}

/***********************  Screen 1 - Projects ************************/
/*********************************************************************/

.iframe-container {
  position: relative;
  padding-bottom: 49.25%;
  background: none; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

.demo-link {
  margin-left: var(--text-2);
}

.conv-factor {
  display: flex;
  flex-direction: column;
}

em {
  text-decoration: line-through;
}

.conv-factor {
  margin: 0 1rem;
  border: solid 0.5px;
  border-radius: 10px;
  padding: 0.5rem 0.5rem;
  text-align: center;
}

.icon {
  min-width: 4vh;
  max-width: 4vh;
  margin: var(--text-1) var(--text-1);
}


/*************************** Screen 2 - Experience **************************/
/****************************************************************************/

.hashflag {
  opacity: 0.4;
  z-index: -1;
}

.experience {
  background-image: url(assets/hashflag_sm_bg.png);
  background-position: center;
  background-repeat: no-repeat;
}

.list {
  margin-left: 15%;
}

/*************************** Screen 3 - Contact Form **************************/
/******************************************************************************/

.gform {
  max-width: 25rem;
  margin: var(--text-1) auto;
  font-size: var(--text-3);
}

/*************************** BLOG CARDS **************************/
/*************************************************************/

.small {
  margin: var(--text-1) 5%;
}

.blog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  width: 100%;
}

.blog-title {
  font-size: var(--text-3);
  font-weight: 800;
}


.blog-description {
  margin-top: var(--text-2);
  margin-bottom: var(--text-2);
}

.blog-url {
  color: var(--link);
}

.blog-img {
  width: 100%;
}

#res {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (min-width: 1335px) {
  .small:first-child {
    max-width: 100%;
    margin-bottom: var(--text-5);
  }
}

/*************************** TOGGLE **************************/
/*************************************************************/

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: var(--text-4);
  left: var(--text-1);
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.theme {
  color: var(--theme-switch);
  font-size: var(--text-6);
}

.theme:hover {
  color: var(--theme-switch-hover);
}


/************************** Modal **************************/
/***********************************************************/

.button-container {
  border: solid 2px var(--text);
  padding: var(--text-1) var(--text-1);
  text-align: center;
  width: 90%;
  margin: var(--text-2) auto;
}

.button-container button {
  margin: var(--text-1) auto;
}

.equation-symbol {
  font-size: var(--text-6);
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  margin: 0 0;
  background-color: rgba(29, 29, 32, .95);
  color: rgb(234, 234, 236);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  block-size: fit-content;
  font-size: var(--text-1);
  width: 80%;
  margin: 0 auto;
  padding: var(--text-6) 0;
  max-width: 1400px;
}

.close-button {
  float: right;
  width: var(--text-4);
  line-height: var(--text-4);
  text-align: center;
  cursor: pointer;
  background-color: var(--header);
  color: var(--acc-1);
  font-size: var(--text-4);
  padding-bottom: 4px;
}

.close-button:hover {
  background-color: var(--card);
}

.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.conv-factor {
  margin-bottom: var(--text-2);
}

/*********************** Contact Form **********************/
/***********************************************************/

.gform {
  min-width: 60%;
}



.pure-group>label {
  width: 100px;
  text-align: right;
  margin-right: var(--text-2);
}

.pure-group {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  border: none;
}

.form-button-container {
width: 100%;
display: flex;
justify-content: center;
}

.pure-group {

}

